/src_frontend/frontend-admin/node_modules/
/src_frontend/frontend-admin/dist/
/src_frontend/frontend/node_modules/
/src_frontend/frontend/dist/
/src_frontend/frontend/licenses.json
/src_frontend/frontend/src/third_party_licenses
/src_frontend/frontend-mobile/node_modules/
/src_frontend/frontend-mobile/dist/
dumpfile
/target
/src/uploads/*.png
/src/uploads/*.jpg
/src/uploads/*.jpeg
/src/uploads/*.png
/src/uploads/*.JPG
/src/uploads/*.JPEG
/src/uploads/*.pdf
/images/*.png
/images/*.jpg
/images/*.jpeg
/images/*.PNG
/images/*.JPG
/images/*.JPEG
/images/*.mp4
/images/*.MP4
/images/*.gif
/images/*.GIF
/images/*.webp
/images/*.WEBP
/images/*.pdf
/tmp/*.md
.git