/target
.env
/src_frontend/frontend/node_modules/
/src_frontend/frontend/dist/
/src_frontend/frontend-admin/node_modules/
/src_frontend/frontend-admin/dist/
/src_frontend/frontend-mobile/node_modules/
/src_frontend/frontend-mobile/dist/
/src_frontend/main/dist/
/src/main/dist/
/images/*
!/images/test.jpg
!/images/*.txt
/uploads/*
!/uploads/sample.txt
markdown_wiki2_single.*
markdown_wiki2_single
*.sqlite
/dist/